<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>GUCCI GANG</h1>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="form-group has-success">
	<form method="POST">
  <label class="form-control-label" for="inputSuccess1">Input with success</label>
  <input type="text" class="form-control form-control-danger" id="inputDanger1" name="twitter" placeholder="Twitter">
  <div class="form-control-feedback">Success! You've done it.</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div>
<div class="form-group has-warning">
  <label class="form-control-label" for="inputWarning1">Input with warning</label>
  <input type="text" class="form-control form-control-danger" id="inputDanger1" name="insta" placeholder="Instagram">  <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div>
<div class="form-group has-danger">
  <label class="form-control-label" for="inputDanger1">Input with danger</label>
  <input type="text" class="form-control form-control-danger" id="inputDanger1" name="fb" placeholder="Facebook">
 </from>
</div>
</body>
</html>


